$primary_color: #72a5cf;
$primary_color_dark_1: #5f8aad;
$secondary_color: white;
$accent: black;
$screen_width: 1960px;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
	margin: 0;
	padding: 0;
}
